:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  font-family: 'Sometype Mono', monospace;
  background-color: rgba(205,255,123,255)
  ;
}

.home-page {
  width: 100%;
}

.log-in-btn-container {
  text-align: right;
}

.log-in-btn {
  background-color: #f8f9fa;
  border: 1px solid #e9e8e8;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: 'Sometype Mono', monospace;
  font-size: 1rem;
  height: auto;
  line-height: 27px;
  padding: 1rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.log-in-btn:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.log-in-btn:focus {
  border-color: #4285f4;
  outline: none;
}

.logo-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2rem;
}

.home-title-container {
  margin-top: 8rem;
  margin-left: 15rem;
  font-size: 2rem;
  width: auto;
  height: 9rem;
  width: 20rem;
}

.home-logo {
  width: 60%;
  margin-left: 20%;
  height: auto;
}

.home-info {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-top: 5rem;
}

.about {
  padding-left: 2rem;
  width: 80%;
  font-size: 1.2rem;
}

.socials {
  text-align: right;
  margin-right: 1rem;
}

.icon{
  width: 2rem;
}



.logo{
  width: 3rem;
}

.login-title{
  margin-top: 6rem;
  text-align: center;
}

.login-container{
  border: 1px solid black;
  width: 40%;
  height: auto;
  margin-left: 30%;
}