:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  font-family: 'Sometype Mono', monospace;
}

/*<----- Home Page ----->*/
.home-page {
  width: 101.15%;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}

.log-in-btn-container {
  text-align: right;
}

.log-in-btn {
  align-items: center;
  background-color: rgb(255, 167, 135);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 1rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.log-in-btn:hover,
.log-in-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.log-in-btn:hover {
  transform: translateY(-3px);
}

.log-in-btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.logo-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2rem;
}

.home-title-container {
  color: rgb(244, 144, 108);
  font-size: 3rem;
  height: 25%;
  margin-left: 25%;
  margin-top: 15%;
  text-align: center;
  width: 50%;
}

.home-logo {
  height: auto;
  margin-left: 10%;
  width: 80%;
}

.home-info {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 5rem;
}

.about {
  padding-left: 2rem;
  width: 80%;
  font-size: 1.2rem;
}

.about-title {
  color: rgb(244, 144, 108);
}

.about-content {
  color: rgb(136,137,142);
}

.socials {
  text-align: left;
  margin-right: 1rem;
}

.socials-title {
  color: rgb(244, 144, 108);
}

.socials-content {
  color: rgb(136, 137, 142);
}

.icon{
  width: 2rem;
}



/* <----- Login/Register Page -----> */
.login-page{
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  height: 50.9rem;
}

.logo{
  cursor: pointer;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 4rem;
}

.login-title{
  color: rgb(244, 144, 108);
  margin-top: 9rem;
  text-align: center;
  font-size: 2.5rem;
}

.register-title{
  color: rgb(244, 144, 108);
  margin-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
}

.login-container{
  background-color: white;
  border: 2px solid #000000;
  border-radius: 20px;
  width: 30%;
  height: auto;
  margin-left: 35%;
  padding: 1rem;
}

.login-input-group{
  font-size: 1rem;
  position: relative;
  --primary: #2196f3;
}

.login-label{
  color: #000000;
  left: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0.6rem;
  transition: 200ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.login-input{
  all: unset;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  margin-bottom: 2rem;
  padding: 0.5rem;
  width: 95%;
  transition: 200ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.login-input:focus {
  border: 1px solid
    var(--primary);
}

.login-input:is(:focus, :valid) ~ label {
  background-color: white;
  color: var(--primary);
  padding-inline: 0.3rem;
  transform:
    translateY(-90%)
    scale(0.9);
}

.login-submit-btn {
  align-items: center;
  background-color: rgb(255, 167, 135);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-left: 30%;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 40%;
}

.login-submit-btn:hover,
.login-submit-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.login-submit-btn:hover {
  transform: translateY(-2px);
}

.login-submit-btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.change-form-btn {
  align-items: center;
  background-color: rgb(255, 167, 135);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 1rem;
  justify-content: center;
  line-height: 1rem;
  margin-left: 1rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.change-form-btn:hover,
.change-form-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 6px;
  color: rgba(0, 0, 0, 0.65);
}

.change-form-btn:hover {
  transform: translateY(-2px);
}

.change-form-btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.register-login-div{
  text-align: center;
  padding: 1rem;
}



/* <----- Messages Page -----> */
.navbar-container {
  border: 3px solid rgb(94, 94, 94);
  height: 3rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  padding: 0.5rem;
  width: 99.6%;
}

.nav-logo{
  cursor: pointer;
  height: 3rem;
}

.nav-btns-container{
  height: 3rem;
  margin-top: -3.25rem;
  text-align: right;
}

.nav-btn {
  align-items: center;
  background-color: rgb(244, 144, 108);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 3rem;
  justify-content: center;
  line-height: 1rem;
  margin-left: 1rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.nav-btn:hover,
.nav-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.nav-btn:hover {
  transform: translateY(-2px);
}

.nav-btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.messages-main-content {
  display: grid;
  grid-template-columns: 25% 75%;
}

.contacts-container {
  border-bottom: 3px solid rgb(94, 94, 94);
  border-left: 3px solid rgb(94, 94, 94);
  border-right: 3px solid rgb(94, 94, 94);
  margin-left: -0.5rem;
  height: 46.7rem;
  overflow-y: auto;
}

.contacts-title {
  background-color: rgb(200, 200, 200);
  border-bottom: 3px solid rgb(94, 94, 94);
  height: 4rem;
  padding: 0.5rem;
  text-align: center;
}

.contact-container {
  border-bottom: 1px solid black;
  cursor: pointer;
  height: 2rem;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}

.contact-container:hover {
  background-color: rgb(244, 144, 108);
}

.chat-section {
  border-bottom: 3px solid rgb(94, 94, 94);
  border-right: 3px solid rgb(94, 94, 94);
  height: 99.6%;
  margin-right: -0.5rem;
}

.chat-contact-name {
  background-color: rgb(244, 144, 108);
  border-bottom: 3px solid rgb(94, 94, 94);
  font-size: 2.5rem;
  height: 3rem;
  margin-top: 0;
  padding: 1rem;
  text-align: center;
}

.messages-container {
  height: 68.4%;
  margin-top: -1.68rem;
}

.send-message-container {
  background-color: rgb(200, 200, 200);
  border-top: 3px solid rgb(94, 94, 94);
  height: 20.1%;
  margin-bottom: 2rem;
  position: relative;
}

.message-to-send {
  border-radius: 10px;
  font-size: 1rem;
  height: 7rem;
  padding: 0.5rem;
  margin-left: 0.7rem;
  margin-top: 0.7rem;
  width: 85%;
}

.send-message-btn {
  cursor: pointer;
  height: 50%;
  margin-bottom: 1.5rem;
  margin-left: 1.8rem;
  width: 7%;
}